* {
    box-sizing: border-box;
}

 body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
 }

/* ----- HEADER ------ */
/* --- TOP BAR --- */

.top-bar,
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.logo {
    flex: none;
    height: 45px;
 }

h1 {
    font-weight: 100;
    font-size: 25px;
}

 .links-right {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
 }

 .links-right img {
    width: 45px;
    border: 2px solid black;
    padding: 3px;
 }

/* --- CONTAINER --- */

 .container {
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .description {
    flex: 1 0 500px;
    max-width: 800px;
    margin-bottom: 20px;
 }

 .container img {
    width: 500px;
 }

 button {
    background-color: rgb(189, 196, 255);
    padding: 8px;
 }