* {
    box-sizing: border-box;
}

 body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
 }

/* ----- HEADER ------ */
/* --- TOP BAR --- */

.top-bar,
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.logo {
    flex: none;
    height: 45px;
 }

 .links-right {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
 }

 .links-right img {
    width: 45px;
    border: 2px solid black;
    padding: 3px;
 }

/* --- CONTAINER --- */

 .container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
 }

 .description {
    flex: 1 0 500px;
    max-width: 800px;
    margin-bottom: 20px;
 }

 .container img {
    width: 500px;
    border-radius: 18px;
 }

 .header {
    margin-bottom: 40px;
 }

/* ----- Songs ----- */

.songs-section,
.best_lyric {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songs-section {
    background-color: black;
    color: white;
    box-sizing: content-box;
    padding-bottom: 60px;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    margin: 40px;
}

.songs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.song,
.song img {
    width: 250px;
    border-radius: 13px;
}

.title {
    font-size: 15px;
}

.title_text {
    font-size: 13px;
}

/* ----- Lyrics ----- */

.best_lyric {
    gap: 3px;
    margin: auto;
    max-width: 50%;
    min-width: 400px;
    color: aliceblue;
}

.lyric_color {
    box-sizing: content-box;
    background-color: rgb(58, 78, 196);
    padding: 120px;
}

.lyric {
    font-size: 25px;
    flex-shrink: 0;
}

.artist {
    margin-left: auto;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

/* ----- Bandit -----*/
.color_bandit {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandit {
    margin: 120px;
    background-color: beige;
    display: flex;
    font-weight: 300;
    gap: 20px;
    padding: 40px;
    border-radius: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.cash {
    flex: 1 0 370px;
}

.cash p {
    margin: 0;
}

.money {
    font-weight: 600;
}

.data {
    font-size: 15px;
}

button {
    flex-shrink: 0;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    font-weight: 700;
}

